/* Ustawienia ogólne */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #555;
  }
  
  /* Stylizacja tabeli */
  table {
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e9ecef;
  }
  
  /* Stylizacja przycisków */
  button {
    padding: 8px 16px;
    margin: 0 5px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #addItemButton {
    background-color: #28a745;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  #addItemButton:hover {
    background-color: #218838;
  }
  
  /* Stylizacja dialogu */
  dialog {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  menu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
  }
  
  /* Stylizacja komunikatu o błędzie */
  #error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  